:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-secondary-color: #f5f4fa;
  --background-section-color: #2f303a;
  --secondary-title-color: #212121;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 320) {
  body {
    overflow-x: hidden;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: list-item;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-after-hero {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-after-hero {
    display: none;
  }
}

.section-background {
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .section-features {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .section-features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.section-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .section-title {
    text-align: left;
  }
}

.section-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  margin-top: 10px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (max-width: 767px) {
  .section-title-text:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .section-title-text {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .section-title-text {
    flex-basis: calc((100% - 120px) / 4);
    width: 270px;
  }
}

.section-icons {
  display: flex;
  border-radius: 4px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 25px 0;
}

@media screen and (min-width: 1200px) {
  .section-icons {
    width: 270px;
    height: 120px;
  }
}

.main-btn {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  padding: 10px 32px 10px 32px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, .main-btn:focus {
  background-color: #188ce8;
}

.btn-light {
  color: var(--primary-white-color);
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

@media screen and (max-width: 1199px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:focus, .modal-close-icon:hover {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form-field {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: #757575;
}

.modal-form-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.17;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 6px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.01em;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  color: rgba(177, 117, 117, 0.5);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-checkbox-label {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.16;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: #757575;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal-form-checkbox-label {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
  }
}

.modal-form-checkbox-label::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-right: 7px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background-origin: border-box;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 0.5px solid black;
}

.accept-policy-contract {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-button {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 55px 10px 56px;
  margin: 0 auto;
  display: flex;
}

.modal-form-button:hover, .modal-form-button:focus {
  background-color: #188ce8;
}

.modal-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
  z-index: 3;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
}

.close-btn-icon {
  width: 40px;
  height: 40px;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: var(--accent-color);
}

.mobile-nav__link-current {
  color: var(--accent-color);
}

.mobile-menu__connect {
  display: block;
}

.mobile-connect {
  margin-bottom: 64px;
}

.mobile-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-connect__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-connect__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social {
  display: flex;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  margin: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-nav__list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-connect {
    display: none;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-connect {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-connect {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-connect :not(:last-child) {
    margin-right: 30px;
  }
}

.header-connect__item {
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-connect__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-connect__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: #757575;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-connect__link:hover, .header-connect__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__tel {
    width: 10px;
    height: 14px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__tel {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__mail {
    width: 16px;
    height: 12px;
  }
}

.address-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-connect__mail:hover .address-icon,
.header-connect__mail:focus .address-icon,
.header-connect__tel:hover .address-icon,
.header-connect__tel:focus .address-icon {
  fill: var(--accent-color);
}

.logo {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  font-family: 'Raleway';
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
}

.dark-color {
  color: var(--primary-text-color);
}

.white-color {
  color: var(--primary-white-color);
}

.header-nav__list .link.current {
  color: var(--accent-color);
}

.header-nav__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-nav__list {
    display: none;
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-color);
}

.header-nav__link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -32px;
  cursor: default;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-nav__link.current::after {
    bottom: -38px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 400px;
  background-color: #c4c4c4;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-tablet.jpg");
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-tablet2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-desktop.jpg");
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-desktop2x.jpg");
  }
}

.hero-title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 360px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero-text {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .desc-img {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .desc-img {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .desc-img {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .desc-img-title:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .desc-img-title {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .desc-img-title {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.desc-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .desc-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.17;
  }
}

.desc-white {
  background-color: #ffffff;
}

.desc-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.desc-title-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.desc-img-border {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-bottom: solid #ffffff;
}

.desc-person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.desc-title-img {
  background-color: rgba(47, 48, 58, 0.8);
  position: relative;
}

.desc-text-img {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-icon {
  fill: #afb1b8;
}

.clients-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .clients {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .clients__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin: 15px;
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo:hover, .clients-logo:focus {
  fill: var(--accent-color);
  border: 1px solid #2196f3;
}

.clients-logo-icon {
  width: 106px;
  height: 60px;
}

.portfolio-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-title-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.portfolio-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover, .portfolio-btn:focus {
  background: #2196f3;
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-title:not(:last-child) {
  margin-right: 8px;
}

.portfolio-main {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-main-title {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-main-title:hover .portfolio-focus-text {
  transform: translateY(0);
}

.portfolio-frame {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio-focus {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-focus:hover, .portfolio-focus:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-focus-text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-section-color);
}

@media screen and (max-width: 767px) {
  .footer-container {
    display: block;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer__left {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__left {
    width: 231px;
  }
}

.footer-logo {
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.16;
  font-family: 'Raleway';
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.19;
  }
}

.footer-address {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .footer-address {
    margin-bottom: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer-connect:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .footer-connect:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .footer__right {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__right {
    width: 206px;
    margin-left: 70px;
  }
}

.footer-join-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-team {
  display: flex;
  justify-content: center;
}

.join-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.join-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover, .join-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-team .join-item + .join-item {
  margin-left: 10px;
}

.join-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-mail {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
}

.footer-tele {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tele:hover, .footer-tele:focus {
  color: var(--accent-color);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-mailing {
    text-align: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mailing {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
  }
}

.footer-mailing-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

.footer-form-email {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  resize: none;
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 10px;
  color: #ffffff;
  letter-spacing: 0.03em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .footer-form-email {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-form-email {
    margin-bottom: 20px;
  }
}

.footer-form-email:focus {
  outline: none;
  border-color: #2196f3;
}

.footer-subscribe-button {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  height: 50px;
  background-color: var(--accent-color);
  border: solid var(--accent-color);
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer-subscribe-button {
    margin: 0 auto;
  }
}

.footer-subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.join-item {
  width: 44px;
  height: 44px;
}

.join-item:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=main.css.map */