:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --accent-secondary-color: #f5f4fa;
    --background-section-color: #2f303a;
    --secondary-title-color: #212121;
}
