.hero {
    background-color: var(--background-section-color);
    text-align: center;
    padding: 200px 0;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero.jpg);
    width: 1600px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-title {
    @include font(44px, 900, 1.36);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    width: 696px;
    margin: 0 auto;
}
.hero-text {
    @include font(16px, bold, 1.87);
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
}
