.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form-head {
    @include font(20px, bold, 1.15);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.modal-form-field {
    @include font(12px, normal, 1.17);
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    color: #757575;
}

.modal-form-wrapper {
    position: relative;
    margin-top: 4px;
    display: block;
}

.modal-form-input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    padding-left: 30px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal-form-message {
    @include font(12px, normal, 1.17);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-top: 6px;
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.01em;
    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
    &::placeholder {
        color: rgba(177, 117, 117, 0.5);
    }
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--accent-color);
}

.modal-form-checkbox-label {
    @include font(14px, normal, 1.71);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: #757575;
    letter-spacing: 0.03em;
    &::before {
        content: '';
        display: block;
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        margin-right: 7px;
    }

    .modal-form-checkbox:checked + &::before {
        background-image: url(../images/icon-check.svg);
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color);
        background-origin: border-box;
    }

    .modal-form-checkbox:focus + &::before {
        outline: 0.5px solid black;
    }
}

.accept-policy-contract {
    color: var(--accent-color);
}

.modal-form-button {
    @include font(16px, bold, 1.87);
    letter-spacing: 0.06em;
    text-align: center;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 55px 10px 56px;
    margin: 0 auto;
    display: flex;
    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}
