.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}
.modal-close-icon {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        fill: var(--accent-color);
    }
}
